/* Page structures */
.body #header { width: 100%; }
.body #application { width: 100%; }
.body #footer { width: 100%; }

.body {
background-color: #FFFFFF;
background-image: url(images/background.png);
background-size: 100%
font:20px arial,sans-serif;
}

/* header and foot */

#header {
background-color: #000000;
color: #FFFFFF;
font-family: 'Playfair Display', serif;
}
#header #icon {
width:50%;
height:75px;
float:left;
background: inherit;
}
#header #links{
width:50%;
height:75px;
float:right;
background: inherit;
text-align: right;
}
#header a {
padding:10px;
text-decoration:none;
background-color:#f1f1f1;
}
#header a:hover {
background-color:#bababa;
color:#FFFFFF;
}
#header a:clicked {
background-color:#bababa;
color:#FFFFFF;
}


#footer {
background-color: #000000;
color: #FFFFFF;
height:75px;
}

/* application */
#map {
width:50%;
height:300px;
padding: 10px;
border: 2px solid #000000;
margin: 20px;
background-color: #FFFFFF;
background-clip: content-box;
border-radius:10px;
}
path {
stroke: white;
stroke-width: 2px;
}

#buttons {
width:50%
border-radius:10px;
}
#buttons button{
width: 150px;
height: 100px;
margin: 20px;
border-radius: 5px;
background-color: #8888FF;
font-family: 'Playfair Display';
font-size: 14pt;
border-color: blue;
}

#input {
width: 300px;
height: 100px;
margin: 20px;
border-radius: 5px;
background-color: #B5B5B6;
}