/* Page structures */
.body #footer { width: 100%; }

.body {
background: #FFFFFF url('images/background.png') center center fixed;
background-repeat: no-repeat;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
font-family: 'Oxygen', Helvetica, Verdana, Arial;
}

/* header and foot */

#header {
background-color: #000000;
color: #FFFFFF;
font-family: 'Oxygen', serif;
margin: 10px 80px;
opacity: 0.8;
padding: 10px;
border-radius:5px;
text-align:center;
}

#header a {
padding:20px;
text-decoration:none;
color: white;
}

#introduction {
margin: 0 auto;
padding: 10px;
background-color: black;
opacity: 0.8;
border-radius: 5px;
color: white;
width: 700px;
text-align:center;
}

#footer {
background-color: #000000;
color: #FFFFFF;
height:75px;
}

/* application */
#application{
background: rgba(255,255,255,0.5);
margin: 20px;
border-radius: 5px;
padding: 20px;
}

#map {
width:50%;
height:300px;
padding: 10px;
margin: 20px;
background-color: #FFFFFF;
background-clip: content-box;
border-radius:10px;
}
path {
stroke: white;
stroke-width: 2px;
}

#application #buttons {
border-radius:10px;
display: inline-block;
width: 100%;
margin-left: 17%;
margin-right: 17%;
}
#application button{
width: 200px;
height: 200px;
margin: 20px;
border-radius:6px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
/*background-color: #399CB7;*/
border: #399CB7;
font-family: 'Oxygen', Helvetica, Verdana, Arial;
font-size: 14pt;
padding: 20px;
/*-webkit-box-shadow: 0px 6px 47px -5px rgba(11,77,135,1);
-moz-box-shadow: 0px 6px 47px -5px rgba(11,77,135,1);
box-shadow: 0px 6px 47px -5px rgba(11,77,135,1);
text-shadow: 0 -1px 1px rgba(255,255,255,0.25);*/

background: #399CB7 repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    cursor: pointer;
}

button:focus {
	outline:0 !important;
}


#application button img{
       margin-top:10px;
}

#input {

margin: 20px;
}

#run-button{
	height:100px;
}